<h1>トーク</h1>
<div>
<% if @rooms.blank? %>
<div>トークはありません。</div>
  <% else %>
  <div class="scroll">  
    <% @rooms.each do |room| %>
      <li><%= link_to room.post.title, room_path(room) %></li>
      <%= room.messages.order(created_at: :desc).take.try(:content) %>
  </div>
    <% end %>
<% end %>

</div>


