
/* ーーーーシンプルカレンダーに必須のため消さないことーーーー */
/*
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */
 /* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */

body{
    margin: 0;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

/*要素を横並びに配置する*/
.table-side-line {
    display     : table;
    table-layout: fixed;
  }
  
  .side-line {
    display       : table-cell;
    vertical-align: middle    ;
  }
  
  /*要素を左右から中央に配置する*/
  .center-placement {
    margin: 0 auto;
  }

#header {
    background-color: #9acd32; /*yellowgreen*/
  }
  
  /**********************************
    ヘッダーの右側の部分
  ***********************************/
  
  .header-right {
    padding-left: 5px;
  }
  
  /**********************************
    ヘッダーの右側の左上の部分
  ***********************************/
  
  .header-right-top-left {
    /* list-style: none  ; リストの先頭に表示するマーカー文字の種類を指定する */
    /* overflow  : hidden; */
    padding   : 0px   ;
    text-align: left;
  }
  
  .header-right-top-left li a {
    /* text-decoration: none   ; テキスト傍線のつけ方・色・スタイルをまとめて指定する */
    color          : #ffffff; /*white*/
    font-weight    : normal ; /*フォントの太さ*/
    
  }
  
  /**********************************
    ヘッダーの右側の右上の部分
  ***********************************/
  
  .header-right-top {
    position: relative;
  }
  
  .header-right-top-right {
    /* list-style: none    ; リストの先頭に表示するマーカー文字の種類を指定する */
    /* overflow  : hidden  ; */
    position  : absolute;
    top       : 50%     ;
    right     : 1%      ;
  }
  
  .header-right-top-right li {
    text-align      : center  ;
    float           : left    ; /*要素を包含ブロックの左右どちらかの側に沿うように設置し、テキストやインライン要素がその周りを回りこめるように定義する*/
  }
  
  .header-right-top-right li a {
    text-decoration: none   ; /*テキスト傍線のつけ方・色・スタイルをまとめて指定する*/
    color          : #ffffff; /*white*/
    font-weight    : normal ; /*フォントの太さ*/
  }
  
  /**********************************
    ヘッダーの右側の下の部分
  ***********************************/
  
  .header-right-bottom ul {
    list-style      : none           ; /*リストの先頭に表示するマーカー文字の種類を指定する*/
    overflow        : hidden         ;
    padding         : 0px            ;
    border-radius   : 8px 8px 8px 8px;
    background-color: #f5f5f5        ; /*whitesmoke*/
  }
  
  .header-right-bottom ul li {
    text-align      : center     ;
    float           : left       ; /*要素を包含ブロックの左右どちらかの側に沿うように設置し、テキストやインライン要素がその周りを回りこめるように定義する*/
    width           : 120px      ; /*marginで調整したい*/
    /* margin          : 0% 1% 0% 1%; 有効にするとレイアウトが崩れる */
  }

  .header-right-bottom ul li +li {
    border-left: 1px solid #333;

  }

  
  .header-right-bottom ul li a {
    text-decoration: none   ; /*テキスト傍線のつけ方・色・スタイルをまとめて指定する*/
    color          : #000000; /*black*/
    font-weight    : normal ; /*フォントの太さ*/
  }

main{
    flex: 1;
}

header{
    text-align: right;
}

.error_color{
    color:red;
}

footer{
    background-color:#666666;
    height: 5rem;
    width: 100%;
    position: relative;
}

.link{
    position: absolute;
    top: 50%; /*親要素を起点に上から50%*/
    left: 50%;  /*親要素を起点に左から50%*/
    transform: translateY(-50%) translateX(-50%); /*要素の大きさの半分ずつを戻す*/
    -webkit-transform: translateY(-50%) translateX(-50%);
}

footer p {
    text-align: center;
    color: #DDDDDD;
}
footer ul{
    list-style: none;
    margin: 0;
    padding: 0;

}

footer li{
    font-size: 10px;
    text-decoration: underline;
    padding: 0 10px;
    display: inline-block;
}

footer li+ li {
    border-left: 1px solid #333;
}

.Editlink{
    color: #C0C0C0;
}

.Editlink:hover {
    color: #444444

}

/**********************************
  ログイン画面のタイトルエリア
  新規会員登録画面のタイトルエリア
***********************************/

#login .section-title-area .sign-in-image {
  margin-top: 60px;
}

#login .section-title-area,
#new-member-insert-account .section-title-area, 
#new-member-insert-user .section-title-area {
  margin-top: 10px;
}

#login .section-title-area div,
#new-member-insert-account .section-title-area div, 
#new-member-insert-user .section-title-area div {
  text-align : center;
}

#login .section-title-area p,
#new-member-insert-account .section-title-area p, 
#new-member-insert-user .section-title-area p {
  text-align : center;
  font-weight: 600   ;
}

/**********************************
  ログイン画面の入力エリア
***********************************/

#login .section-input-area .section-input-area-outer-box {
  width      : 40%                ;
  height     : 70%                ;
  margin-left: 30%                ;
  background : aliceblue          ;
  border     : 1px solid lightgray;
  text-align : left               ;
}

#login .section-input-area .section-input-area-inner-box {
  width      : 90%;
  margin-left: 5% ;
}

#login .section-input-area .section-input-area-inner-box p {
  width        : 100%;
  margin-top   : 10px;
  margin-bottom: 0px ;
}

#login .section-input-area .section-input-area-inner-box input {
  width: 100%;
}

#login .section-input-area .section-input-area-inner-box .login-btn-box {
  margin-top   : 30px;
  margin-bottom: 50px;
}

#login .section-input-area .section-input-area-inner-box .login-mail {
  margin-top   : 10px;
  /* margin-bottom: 30px; */
}

#login .section-input-area .section-input-area-inner-box .login-mail .mail-label{
  margin-top      :30px;
  margin-bottom   : -7px;
}

#login .section-input-area .section-input-area-inner-box .login-password {
  margin-top   : 10px;
  margin-bottom: 50px;
}

#login .section-input-area .section-input-area-inner-box .login-password .password-label{
  margin-bottom   : -7px;
}

#login .section-input-area .section-input-area-inner-box .login-btn-box .login-btn {
  width: 100%;
}

#login .section-input-area .section-input-area-inner-box .new-links {
  width: 180px;
  text-align-last: justify;
}

#login .section-input-area .section-input-area-inner-box .new-links .new-account-create-link-box {
  margin-bottom: -3px;
}

#login .section-input-area .section-input-area-inner-box .new-links .forget-password-link-box {
  margin-bottom: 30px;
}

/**********************************
  カレンダー画面のエリア
***********************************/

.top-box{
  position: relative;

}

.top-box::before{
  background-color: rgba(0,0,0,0.4);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
}

.top-box .field-image{
  width: 100%;
  height: 280px;
  object-fit: cover; 
  object-position: 100% 100%; 
}

.top-box .top-contents{
  position: absolute;
  top: 15%;
  left: 16%;
  zoom: 150%;
  font-family: 'Sawarabi Gothic', sans-serif;
}

.top-box .top-contents h2{
  margin: -5px 0 20px 0;
  color: #C0C0C0;
}

.top-box .top-contents .content{
  position: absolute;
  left: 7%;
  color: white;
  line-height: 1.5;
}



