/*
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */

body{
    zoom: 200%;
    text-align: center;
    background-color: gray;
    color: honeydew;
}

header{
    text-align: right;
}

.error_color{
    color:red;
}

